# IDE
.idea/
*.iml
*.iws

# ignore env & caches
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.sqlite3
*.db
*backup.json

# Environment variables
.env
.env.local

# Logs
*.log

db.sqlite3
*.sqlite3

